<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>See Soccer Live</title>
</head>
<body>
  <h1>Venue List</h1>
  <table class='table'>
    <thead>
      <tr>
        
        <th>Stadium Name</th>
        <th>Location</th>
        <th>Host Team</th>
        <th>capacity</th>

        
      </tr>
    </thead>
    <tbody>
  
      
      <% venues.forEach(function(v) { %>
        <tr>
          <td><%= v.stadiumName %></td>
          <td><%= v.location %></td>
          <td><%= v.hostTeam %></td>
          <td><%= v.capacity %></td>
          <!-- bug here brother  -->
          <td><a href="/venues/<%= v._id %>">show venue</a></td>
          <td>
          
            <form action="/venues/<%= v._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
          
          </td>
          


          
          
        </tr>

      <% }); %>
    </tbody>
  </table>
</body>
</html>

<%- include('../partials/footer') %>