<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>See Soccer Live</title>
</head>
<section id="show-page">
    <div>Stadium Name: </div>
    <div><%= venue.stadiumName %></div>
    <div>Location: </div>
    <div><%= venue.location %></div>
    <div>Host team: </div>
    <div><%= venue.hostTeam %></div>
    <div>Capacity: </div>
    <div><%= venue.capacity %></div>

    <!--make sure they render-->
    
    
  </section>
</html>

<%- include('../partials/footer') %>







